@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --c-slate-950: 248 250 252;
    --c-slate-900: 255 255 255;
    --c-slate-800: 241 245 249;
    --c-slate-700: 226 232 240;
    --c-slate-600: 203 213 225;
    --c-slate-500: 100 116 139;
    --c-slate-400: 71 85 105;
    --c-slate-300: 51 65 85;
    --c-slate-200: 30 41 59;
    --c-slate-100: 15 23 42;
    --c-slate-50: 2 6 23;
  }
  .dark {
    --c-slate-950: 2 6 23;
    --c-slate-900: 15 23 42;
    --c-slate-800: 30 41 59;
    --c-slate-700: 51 65 85;
    --c-slate-600: 71 85 105;
    --c-slate-500: 100 116 139;
    --c-slate-400: 148 163 184;
    --c-slate-300: 203 213 225;
    --c-slate-200: 226 232 240;
    --c-slate-100: 241 245 249;
    --c-slate-50: 248 250 252;
  }
}